/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--bg-main-color);
}

:root {
  --font-title: "Ubuntu Mono", monospace;
  --font-text: "Poppins", sans-serif;
  --bg-color: #dcdde7;
  --text-color: #333;
  --main-color: #f9895b;
  --main-two-color: #eedd96;
  --main-three-color: #7fa34b;
  --main-four-color: #e94138;
  --bg-main-color: #f0f1ff;
}

/* Animated CSS */
.animate__animated.animate__fadeInDown:nth-child(1) {
  animation-delay: 0.5s;
}
.animate__animated.animate__fadeInDown:nth-child(2) {
  animation-delay: 0.6s;
}
.animate__animated.animate__fadeInDown:nth-child(3) {
  animation-delay: 0.7s;
}
.animate__animated.animate__fadeInDown:nth-child(4) {
  animation-delay: 0.8s;
}
.animate__animated.animate__fadeInDown:nth-child(5) {
  animation-delay: 0.9s;
}

/* .text-satu.animate__animated.animate__fadeInLeft {
  animation-delay: 0.5s;
}
.title.animate__animated.animate__fadeInLeft {
  animation-delay: 0.6s;
  animation-duration: 1s;
}
.text-dua.animate__animated.animate__fadeInLeft {
  animation-delay: 0.7s;
} */

/* Navbar CSS Start */
nav {
  background: var(--bg-color);
  border-bottom: 1px solid rgba(54, 54, 54, 0.7);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  z-index: 9999;
}

nav .logo .logo-link {
  text-decoration: none;
  color: var(--text-color);
  -webkit-tap-highlight-color: transparent;
}

nav .logo .logo-link h1 {
  font-size: 2.4rem;
  font-weight: 900;
  font-family: var(--font-title);
  color: var(--text-color);
  font-weight: 600;
  font-style: bold;
}

nav .logo .logo-link h1 span {
  color: var(--main-color);
}

nav .nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  list-style: none;
  position: relative;
}

nav .nav-list li {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .nav-list li .nav-link {
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

nav .nav-list li .nav-link i,
nav .nav-list li .nav-link span {
  font-size: 19.5px;
  font-family: var(--font-text);
  font-weight: 500;
  font-style: normal;
  color: var(--text-color);
}

nav .nav-list li .nav-link::after {
  content: "";
  width: 50%;
  height: 3px;
  background: var(--text-color);
  display: block;
  left: 0;
  position: absolute;
  transform: scale(0);
  transition: all 0.3s ease;
}

nav .nav-list li .nav-link:hover::after {
  transform: scaleX(1);
}

nav .menu-bar {
  display: none;
}

nav .close-bar {
  display: none;
}
/* Navbar CSS End */

/* Home CSS Start */
.home {
  width: 100%;
  min-height: 100vh;
  padding-top: 120px;
  overflow: hidden;
}

.home .home-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .home-container .home-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.home .home-container .home-content img {
  max-width: 680px;
  height: auto;
  filter: drop-shadow(7px 7px 7px var(--main-three-color));
}

.home .home-container .home-content .home-text {
  color: var(--text-color);
}

.home .home-container .home-content .home-text .text-satu {
  font-family: var(--font-text);
  font-size: 24px;
  text-align: justify;
}

.home .home-container .home-content .home-text h2 {
  font-family: var(--font-title);
  font-size: 75px;
  margin-left: -10px;
  text-align: justify;
}

.home .home-container .home-content .home-text h2 span {
  background: linear-gradient(
    45deg,
    var(--main-color),
    var(--main-three-color) 80%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home .home-container .home-content .home-text .text-dua {
  font-family: var(--font-text);
  font-size: 22px;
  margin-top: 10px;
  text-align: justify;
}
/* Home CSS End */

/* About CSS Start */
.about {
  width: 100%;
  min-height: 90vh;
  padding-top: 150px;
  overflow: hidden;
}

.about .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .about-container .about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  position: relative;
  flex-wrap: wrap;
}

.about .about-container .about-content img {
  max-width: 480px;
  height: auto;
  border-top-right-radius: 50%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 15px;
  filter: drop-shadow(7px 7px 7px var(--main-four-color));
}

.about .about-container .about-content .about-text {
  margin: 15px;
}

.about .about-container .about-content .about-text h2 {
  font-size: 65px;
  font-family: var(--font-text);
  padding: 5px;
  position: relative;
}

.about .about-container .about-content .about-text h2 span {
  color: var(--main-color);
}

.about .about-container .about-content .about-text p {
  font-size: 22px;
  padding: 25px 5px;
  width: 720px;
  line-height: 35px;
  text-align: justify;
  font-family: var(--font-text);
}

.about .about-container .about-content .socials {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.about .about-container .about-content .socials .socials-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 40px;
}

.about .about-container .about-content .socials .socials-link:nth-child(2) {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about .about-container .about-content .socials .socials-link:nth-child(3) {
  text-shadow: 3px 3.5px 0 #fe2d52;
  filter: drop-shadow(-2px -2.5px 0 #28ffff);
}

.about .about-container .about-content .socials .socials-link:nth-child(4) {
  color: red;
}
/* About CSS End */

/* Skills CSS Start */
.skills {
  width: 100%;
  min-height: 90vh;
  padding-top: 115px;
  overflow: hidden;
}

.skills .skills-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills .skills-title h2 {
  font-size: 65px;
  font-family: var(--font-text);
  position: relative;
}

.skills .skills-title h2 span {
  color: var(--main-color);
}

.skills .skills-text {
  margin: 22px 0;
}

.skills .skills-text p {
  font-size: 30px;
  font-family: var(--font-text);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 20px;
}

.skills .skills-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 0;
  flex-wrap: wrap;
}

.skills .skills-container .skills-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 30px;
}

.skills .skills-container .skills-content .skills-html,
.skills .skills-container .skills-content .skills-css,
.skills .skills-container .skills-content .skills-js,
.skills .skills-container .skills-content .skills-php {
  position: relative;
  background: conic-gradient(var(--main-color) 2.5deg, var(--bg-color) 0deg);

  filter: drop-shadow(0 0 15px var(--main-color));
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills .skills-container .skills-content .skills-html::before,
.skills .skills-container .skills-content .skills-css::before,
.skills .skills-container .skills-content .skills-js::before,
.skills .skills-container .skills-content .skills-php::before {
  content: "";
  position: absolute;
  background: var(--bg-main-color);
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.skills .skills-container .skills-content .skills-html .skills-value-html,
.skills .skills-container .skills-content .skills-css .skills-value-css,
.skills .skills-container .skills-content .skills-php .skills-value-php,
.skills .skills-container .skills-content .skills-js .skills-value-js {
  position: relative;
  font-size: 25px;
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 500;
}

.skills .skills-container .skills-content .text-html,
.skills .skills-container .skills-content .text-css,
.skills .skills-container .skills-content .text-js,
.skills .skills-container .skills-content .text-php {
  font-size: 25px;
  font-family: var(--font-text);
  color: var(--text-color);
  position: relative;

  font-weight: 600;
}
/* Skills CSS End */

/* Projects CSS Start */
.projects {
  width: 100%;
  min-height: 90vh;
  padding-top: 115px;
  overflow: hidden;
}

.projects .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects .title h2 {
  font-family: var(--font-text);
  font-size: 60px;
  position: relative;
}

.projects .title h2 span {
  color: var(--main-color);
}

.projects .projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: auto;
  padding: 45px 10px 10px 10px;
  max-width: 1600px;
}

.projects .projects-container .projects-img {
  display: flex;
  flex-direction: column;
  filter: drop-shadow(5px 5px 7px var(--text-color));
  margin: 0 15px;
}

.projects .projects-container .projects-img .projects-box {
  width: 450px;
  background: var(--main-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.projects .projects-container .projects-img .projects-box img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.projects .projects-container .projects-img .projects-site {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 3px;
}

.projects .projects-container .projects-img .projects-site .github {
  font-size: 34px;
  margin-left: 11px;
  text-decoration: none;
  color: var(--text-color);
  -webkit-tap-highlight-color: transparent;
}

.projects .projects-container .projects-img .projects-site button {
  padding: 7px;
  display: flex;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
}

.projects .projects-container .projects-img .projects-site button .btn {
  text-decoration: none;
  color: var(--text-color);
  -webkit-tap-highlight-color: transparent;
}
/* Projects CSS End */

/* Contact CSS Start */
.contact {
  width: 100%;
  font-family: var(--font-text);
}

.contact .contact-container {
  width: 100%;
  background: var(--bg-main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 115px 0 110px;
}

.contact .contact-container .form {
  width: 100%;
  max-width: 1200px;
  background-color: var(--bg-main-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px 1px #333;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.form .contact-form {
  background: var(--main-color);
  position: relative;
}

.form .contact-form::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: var(--main-color);
  transform: rotate(45deg);
  top: 40px;
  left: -15px;
}

.form .contact-form .contact-content {
  padding: 30px;
  font-family: var(--font-text);
}

.contact-content h2 {
  font-size: 35px;
}

.contact-content form .input-group {
  margin: 20px 0 15px;
  position: relative;
}

.input-group .input {
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 17px;
  background: none;
  border: 2px solid var(--bg-main-color);
  border-radius: 7px;
  font-family: var(--font-text);
}

.input-group .label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  padding: 0 5px;
  display: inline;
  pointer-events: none;
  background: var(--main-color);
  transition: 0.3s ease;
  font-family: var(--font-text);
}

.input-group .label.focus {
  top: -0.5px;
  font-size: 14px;
}

.input-group .text-area {
  width: 100%;
  resize: none;
  height: 180px;
  padding: 10px;
  outline: none;
  font-size: 17px;
  background: none;
  border: 2px solid var(--bg-main-color);
  border-radius: 7px;
  font-family: var(--font-text);
}

.input-group .message {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 18px;
  padding: 2px;
  pointer-events: none;
  background: var(--main-color);
  transition: 0.3s ease;
  font-family: var(--font-text);
}

.input-group .message.focus {
  top: -11.5px;
  font-size: 14px;
}

.btn-contact {
  padding: 5px 15px;
  font-size: 19px;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  border: 1px solid var(--bg-color);
  background: #fff;
  color: var(--main-color);
  font-family: var(--font-text);
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
}

.info-content {
  padding: 40px;
}

.info-text {
  margin-bottom: 50px;
}

.info-text h2 {
  color: var(--main-color);
  font-size: 30px;
  margin-bottom: 15px;
  font-family: var(--font-text);
}

.info-text p {
  color: var(--text-color);
  padding-right: 5px;
  font-size: 18.5px;
  font-family: var(--font-text);
}

.info-icon {
  margin-bottom: 50px;
}

.info-icon .info-link {
  margin-bottom: 11px;
  display: flex;
}

.info-icon .info-link a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.info-icon .info-link a,
.info-icon .info-link a span {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  font-family: var(--text-color);
  -webkit-tap-highlight-color: transparent;
}

.info-icon .info-link a i {
  color: var(--main-color);
  font-size: 28px;
}

.info-media .media-text p {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: var(--font-text);
  color: var(--text-color);
}

.info-media .media-icon {
  display: flex;
  gap: 10px;
}

.info-media .media-icon .media-link {
  border-radius: 10px;
  background: var(--main-color);
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  box-shadow: 3px 3px 4px rgba(51, 51, 51, 0.8);
  -webkit-tap-highlight-color: transparent;
}

.info-media .media-icon .media-link:hover {
  transform: scale(1.05);
}
/* Contact CSS end */

/* Footer CSS Start */
footer {
  background-color: var(--main-color);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-text);
  overflow: hidden;
}

footer .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-content p {
  font-size: 18px;
}

footer .footer-content p a {
  text-decoration: none;
  color: #fff;
}
/* Footer CSS End */

/* Responsive */
/* Laptop 1440 */
@media (max-width: 1440px) {
  .home .home-container .home-content img {
    max-width: 640px;
  }

  .about .about-container .about-content {
    font-size: 70px;
  }

  .about .about-container .about-content {
    gap: 20px;
  }

  .about .about-container .about-content img {
    max-width: 440px;
    height: auto;
  }

  .about .about-container .about-content .about-text h2 {
    font-size: 60px;
  }

  .skills {
    padding-top: 105px;
  }

  .skills .skills-title h2 {
    font-size: 60px;
  }

  .skills .skills-text p {
    letter-spacing: 15px;
  }

  .skills .skills-container .skills-content .skills-html,
  .skills .skills-container .skills-content .skills-css,
  .skills .skills-container .skills-content .skills-js,
  .skills .skills-container .skills-content .skills-php {
    width: 270px;
    height: 270px;
  }

  .skills .skills-container .skills-content .skills-html::before,
  .skills .skills-container .skills-content .skills-css::before,
  .skills .skills-container .skills-content .skills-js::before,
  .skills .skills-container .skills-content .skills-php::before {
    width: 217px;
    height: 217px;
  }

  .skills .skills-container .skills-content .text-html,
  .skills .skills-container .skills-content .text-css,
  .skills .skills-container .skills-content .text-js,
  .skills .skills-container .skills-content .text-php {
    font-size: 22px;
  }

  .skills .skills-container .skills-content .skills-html .skills-value-html,
  .skills .skills-container .skills-content .skills-css .skills-value-css,
  .skills .skills-container .skills-content .skills-php .skills-value-php,
  .skills .skills-container .skills-content .skills-js .skills-value-js {
    font-size: 24px;
  }

  .projects {
    padding-top: 105px;
  }

  .projects .title h2 {
    font-size: 60px;
  }

  .projects .projects-container .projects-img .projects-box {
    width: 410px;
  }
}

/* Laptop 1024 */
@media (max-width: 1024px) {
  nav .logo .logo-link h1 {
    font-size: 2.3rem;
  }

  nav .nav-list {
    gap: 3rem;
  }

  nav .nav-list li .nav-link span {
    font-size: 19px;
  }

  .home {
    padding-top: 130px;
    height: 90vh;
  }

  .home .home-container .home-content {
    gap: 0;
  }

  .home .home-container .home-content img {
    max-width: 520px;
  }

  .home .home-container .home-content .home-text .text-satu {
    font-size: 22px;
  }

  .home .home-container .home-content .home-text .text-dua {
    font-size: 21px;
  }

  .home .home-container .home-content .home-text h2 {
    font-size: 65px;
  }

  .about {
    padding-top: 110px;
  }

  .about .about-container .about-content {
    gap: 6px;
  }

  .about .about-container .about-content img {
    width: 370px;
  }

  .about .about-container .about-content .about-text h2 {
    font-size: 60px;
    text-align: center;
    padding: 0;
  }

  .about .about-container .about-content .about-text p {
    font-size: 20px;
    padding: 10px 5px;
    width: 620px;
  }

  .about .about-container .about-content .socials .socials-link {
    font-size: 35px;
  }

  .skills {
    padding-top: 95px;
  }

  .skills .skills-title h2 {
    font-size: 60px;
  }

  .skills .skills-text p {
    letter-spacing: 10px;
    font-size: 29px;
  }

  .skills .skills-container .skills-content .skills-html,
  .skills .skills-container .skills-content .skills-css,
  .skills .skills-container .skills-content .skills-js,
  .skills .skills-container .skills-content .skills-php {
    width: 265px;
    height: 265px;
  }

  .skills .skills-container .skills-content .skills-html::before,
  .skills .skills-container .skills-content .skills-css::before,
  .skills .skills-container .skills-content .skills-js::before,
  .skills .skills-container .skills-content .skills-php::before {
    width: 215px;
    height: 215px;
  }

  .projects {
    padding-top: 97px;
  }

  .projects .title h2 {
    font-size: 55px;
  }

  .projects .projects-container .projects-img .projects-box {
    width: 380px;
  }

  .contact .contact-container .form {
    max-width: 980px;
  }

  .contact .contact-container {
    padding-top: 140px;
    padding-bottom: 115px;
  }

  .contact .contact-container .form {
    max-width: 900px;
  }

  .info-content {
    padding: 25px;
  }

  .form .contact-form .contact-content {
    padding: 25px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 978px) {
  nav .nav-list {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    right: -100%;
    background: var(--bg-color);
    height: auto;
    top: 100%;
    width: 30%;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    transition: all 0.4s ease-in-out;
  }

  nav .nav-list.open {
    right: 0;
  }

  nav .nav-list li .nav-link i,
  nav .nav-list li .nav-link span {
    font-size: 21px;
  }

  nav .menu-bar {
    display: flex;
    font-size: 38px;
    align-items: center;
    justify-content: center;
    padding: 1px 5px;
  }

  .home .home-container .home-content img {
    width: 500px;
  }

  .home .home-container .home-content .home-text .text-satu {
    font-size: 20px;
  }

  .home .home-container .home-content .home-text .text-dua {
    font-size: 19px;
  }

  .home .home-container .home-content .home-text h2 {
    font-size: 65px;
  }

  .about .about-container .about-content img {
    width: 340px;
  }

  .about .about-container .about-content .about-text h2 {
    font-size: 55px;
  }

  .about .about-container .about-content .about-text p {
    width: 580px;
  }

  .skills .skills-title h2 {
    font-size: 55px;
  }

  .skills .skills-text p {
    letter-spacing: 5px;
    font-size: 26px;
  }

  .skills .skills-container .skills-content .skills-html,
  .skills .skills-container .skills-content .skills-css,
  .skills .skills-container .skills-content .skills-js,
  .skills .skills-container .skills-content .skills-php {
    width: 260px;
    height: 260px;
  }

  .skills .skills-container .skills-content .skills-html::before,
  .skills .skills-container .skills-content .skills-css::before,
  .skills .skills-container .skills-content .skills-js::before,
  .skills .skills-container .skills-content .skills-php::before {
    width: 210px;
    height: 210px;
  }

  .skills .skills-container .skills-content .skills-html .skills-value-html,
  .skills .skills-container .skills-content .skills-css .skills-value-css,
  .skills .skills-container .skills-content .skills-php .skills-value-php,
  .skills .skills-container .skills-content .skills-js .skills-value-js {
    font-size: 23px;
  }

  .skills .skills-container .skills-content .text-html,
  .skills .skills-container .skills-content .text-css,
  .skills .skills-container .skills-content .text-js,
  .skills .skills-container .skills-content .text-php {
    font-size: 21px;
  }

  .projects .title h2 {
    font-size: 50px;
  }

  .projects .projects-container .projects-img {
    margin: 0 20px;
  }

  .projects .projects-container .projects-img .projects-box {
    width: 480px;
  }

  .contact .contact-container .form {
    grid-template-columns: 1fr;
    max-width: 600px;
  }

  .info-text h2 {
    font-size: 24px;
  }

  .contact-content h2 {
    font-size: 28px;
  }

  .input-group .input {
    padding: 7 10px;
  }

  .contact .contact-container {
    padding-top: 130px;
    padding-bottom: 90px;
  }

  .form .contact-form::before {
    top: -13px;
    left: initial;
    right: 40px;
  }
}

/* mobile */
@media (min-width: 425px) and (max-width: 767px) {
  nav {
    padding: 1.1rem 2rem;
  }

  nav .nav-list {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    right: -100%;
    background: var(--bg-color);
    height: auto;
    top: 100%;
    width: 45%;
    padding: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    transition: all 0.4s ease-in-out;
  }

  nav .nav-list.open {
    right: 0;
  }

  nav .nav-list {
    gap: 2.5rem;
  }

  nav .menu-bar {
    display: flex;
    font-size: 34px;
    align-items: center;
    justify-content: center;
    padding: 1px 5px;
  }

  nav .logo .logo-link h1 {
    font-size: 2rem;
  }

  .home {
    min-height: 85vh;
  }

  .home .home-container .home-content img {
    max-width: 418px;
  }

  .home .home-container .home-content .home-text {
    width: 330px;
  }

  .home .home-container .home-content .home-text .text-satu {
    font-size: 19px;
    text-align: left;
  }

  .home .home-container .home-content .home-text .text-dua {
    font-size: 19px;
    text-align: left;
  }

  .home .home-container .home-content .home-text h2 {
    margin-left: -5px;
    font-size: 45px;
  }

  .about {
    padding-top: 100px;
  }

  .about .about-container .about-content img {
    max-width: 365px;
  }

  .about .about-container .about-content .about-text p {
    width: 350px;
  }

  .about .about-container .about-content .about-text h2 {
    font-size: 50px;
  }

  .skills {
    padding-top: 90px;
  }

  .skills .skills-title h2 {
    font-size: 50px;
  }

  .skills .skills-text p {
    font-size: 18px;
    letter-spacing: 0;
  }

  .skills .skills-container {
    padding: 18px;
  }

  .skills .skills-text p {
    letter-spacing: 0;
  }

  .projects {
    padding-top: 90px;
  }

  .projects .title h2 {
    font-size: 45px;
  }

  .projects .projects-container {
    padding: 35px 10px 10px 10px;
  }

  .projects .projects-container .projects-img {
    margin: 0 20px;
  }

  .info-content {
    padding: 15px 15px 25px;
  }

  .form .contact-form .contact-content {
    padding: 15px 15px 25px;
  }

  .btn-contact {
    font-size: 17px;
    padding: 5px 10px;
  }

  .info-text h2 {
    font-size: 27px;
  }

  .info-text p {
    font-size: 17.5px;
  }

  .info-media .media-text p {
    font-size: 17px;
  }

  .info-media .media-icon .media-link {
    font-size: 19px;
    width: 40px;
    height: 40px;
  }

  .input-group .input {
    font-size: 16px;
  }

  .input-group .message {
    font-size: 16px;
  }

  .input-group .text-area {
    font-size: 16px;
  }

  .contact-content h2 {
    font-size: 27px;
  }

  .input-group .label {
    font-size: 16px;
  }

  .info-icon .info-link a,
  .info-icon .info-link a span {
    font-size: 16px;
  }

  .contact .contact-container .form {
    grid-template-columns: 1fr;
    max-width: 380px;
  }

  footer {
    padding: 15px;
  }

  footer .footer-content p {
    font-size: 17px;
  }

  .contact .contact-container {
    padding-top: 114px;
    padding-bottom: 70px;
  }

  .form .contact-form::before {
    top: -13px;
    left: initial;
    right: 28px;
  }
}

/* Medium mobile */
@media (min-width: 360px) and (max-width: 424px) {
  nav {
    padding: 1.1rem 1.4rem;
  }

  nav .nav-list {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    right: -100%;
    background: var(--bg-color);
    height: auto;
    top: 100%;
    width: 55%;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    transition: all 0.4s ease-in-out;
  }

  nav .nav-list.open {
    right: 0;
  }

  nav .nav-list {
    gap: 1.7rem;
  }

  nav .menu-bar {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    padding: 1px 5px;
  }

  nav .logo .logo-link h1 {
    font-size: 1.7rem;
  }

  nav .nav-list li .nav-link i,
  nav .nav-list li .nav-link span {
    font-size: 18px;
  }

  .home {
    height: 70vh;
  }

  .home .home-container .home-content img {
    max-width: 320px;
  }

  .home .home-container .home-content .home-text {
    width: 290px;
  }

  .home .home-container .home-content .home-text .text-satu {
    font-size: 18px;
    text-align: left;
  }

  .home .home-container .home-content .home-text .text-dua {
    font-size: 18px;
    text-align: left;
  }

  .home .home-container .home-content .home-text h2 {
    font-size: 45px;
    margin-left: 0;
  }

  .about {
    padding-top: 90px;
  }

  .about .about-container .about-content .about-text h2 {
    font-size: 45px;
  }

  .about .about-container .about-content .about-text p {
    width: 290px;
    font-size: 18px;
  }

  .about .about-container .about-content img {
    width: 285px;
  }

  .about .about-container .about-content .socials .socials-link {
    font-size: 30px;
  }

  .skills {
    padding-top: 80px;
  }

  .skills .skills-title h2 {
    font-size: 45px;
  }

  .skills .skills-text p {
    font-size: 21px;
    letter-spacing: 0;
  }

  .skills .skills-container .skills-content .skills-html,
  .skills .skills-container .skills-content .skills-css,
  .skills .skills-container .skills-content .skills-js,
  .skills .skills-container .skills-content .skills-php {
    width: 220px;
    height: 220px;
  }

  .skills .skills-container .skills-content .skills-html::before,
  .skills .skills-container .skills-content .skills-css::before,
  .skills .skills-container .skills-content .skills-js::before,
  .skills .skills-container .skills-content .skills-php::before {
    width: 175px;
    height: 175px;
  }

  .projects {
    padding-top: 80px;
  }

  .projects .title h2 {
    font-size: 42.5px;
  }

  .projects .projects-container {
    padding: 31px 10px 10px 10px;
  }

  .projects .projects-container .projects-img {
    margin: 0 20px;
  }

  .projects .projects-container .projects-img .projects-box {
    width: 330px;
  }

  .projects .projects-container .projects-img .projects-site .github {
    font-size: 30px;
  }

  .projects .projects-container .projects-img .projects-site button {
    font-size: 18px;
  }

  .info-content {
    padding: 15px 15px 25px;
  }

  .form .contact-form .contact-content {
    padding: 15px 15px 25px;
  }

  .contact .contact-container .form {
    grid-template-columns: repeat(1, 1fr);
    max-width: 338px;
  }

  .btn-contact {
    font-size: 17px;
    padding: 5px 10px;
  }

  .info-text h2 {
    font-size: 27px;
  }

  .info-text p {
    font-size: 17.5px;
  }

  .info-media .media-text p {
    font-size: 17px;
  }

  .info-media .media-icon .media-link {
    font-size: 19px;
    width: 40px;
    height: 40px;
  }

  .input-group .input {
    font-size: 16px;
  }

  .input-group .message {
    font-size: 16px;
  }

  .input-group .text-area {
    font-size: 16px;
  }

  .contact-content h2 {
    font-size: 27px;
  }

  .input-group .label {
    font-size: 16px;
  }

  .info-icon .info-link a,
  .info-icon .info-link a span {
    font-size: 16px;
  }

  footer {
    padding: 14px;
  }

  footer .footer-content p {
    font-size: 17px;
  }

  .contact .contact-container {
    padding-top: 104px;
    padding-bottom: 60px;
  }

  .form .contact-form::before {
    top: -13px;
    left: initial;
    right: 25px;
  }
}

/* Small mobile */
@media (max-width: 320px) {
  nav {
    padding: 1.1rem 1.4rem;
  }

  nav .nav-list {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    right: -100%;
    background: var(--bg-color);
    height: auto;
    top: 100%;
    width: 55%;
    padding: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    transition: all 0.4s ease-in-out;
  }

  nav .nav-list.open {
    right: 0;
  }

  nav .nav-list {
    gap: 1.5rem;
  }

  nav .menu-bar {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    padding: 1px 5px;
  }

  nav .logo .logo-link h1 {
    font-size: 1.7rem;
  }

  nav .nav-list li .nav-link i,
  nav .nav-list li .nav-link span {
    font-size: 16px;
  }

  .home {
    height: 70vh;
  }

  .home .home-container .home-content img {
    max-width: 320px;
  }

  .home .home-container .home-content .home-text {
    width: 290px;
  }

  .home .home-container .home-content .home-text .text-satu {
    font-size: 18px;
    text-align: left;
  }

  .home .home-container .home-content .home-text .text-dua {
    font-size: 18px;
    text-align: left;
  }

  .home .home-container .home-content .home-text h2 {
    font-size: 45px;
    margin-left: 0;
  }

  .about {
    padding-top: 90px;
  }

  .about .about-container .about-content .about-text h2 {
    font-size: 45px;
  }

  .about .about-container .about-content .about-text p {
    width: 290px;
    font-size: 18px;
  }

  .about .about-container .about-content img {
    width: 285px;
  }

  .about .about-container .about-content .socials .socials-link {
    font-size: 30px;
  }

  .skills {
    padding-top: 80px;
  }

  .skills .skills-title h2 {
    font-size: 45px;
  }

  .skills .skills-text p {
    font-size: 21px;
    letter-spacing: 0;
  }

  .skills .skills-container .skills-content .skills-html,
  .skills .skills-container .skills-content .skills-css,
  .skills .skills-container .skills-content .skills-js,
  .skills .skills-container .skills-content .skills-php {
    width: 220px;
    height: 220px;
  }

  .skills .skills-container .skills-content .skills-html::before,
  .skills .skills-container .skills-content .skills-css::before,
  .skills .skills-container .skills-content .skills-js::before,
  .skills .skills-container .skills-content .skills-php::before {
    width: 175px;
    height: 175px;
  }

  .projects {
    padding-top: 80px;
  }

  .projects .title h2 {
    font-size: 40px;
  }

  .projects .projects-container {
    padding: 31px 10px 10px 10px;
  }

  .projects .projects-container .projects-img {
    margin: 0 20px;
  }

  .projects .projects-container .projects-img .projects-box {
    width: 280px;
  }

  .projects .projects-container .projects-img .projects-site .github {
    font-size: 30px;
  }

  .projects .projects-container .projects-img .projects-site button {
    font-size: 18px;
  }

  .projects .projects-container .projects-img .projects-site {
    padding: 1px;
  }

  .info-content {
    padding: 10px 10px 25px;
  }

  .form .contact-form .contact-content {
    padding: 10px 10px 20px;
  }

  .contact .contact-container .form {
    grid-template-columns: 1fr;
    max-width: 290px;
  }

  footer {
    padding: 13px;
  }

  footer .footer-content p {
    font-size: 15px;
  }

  .btn-contact {
    font-size: 16px;
    padding: 3px 7px;
  }

  .contact .contact-container {
    padding-top: 100px;
    padding-bottom: 55px;
  }

  .info-text h2 {
    font-size: 27px;
  }

  .info-text p {
    font-size: 17.5px;
  }

  .info-media .media-text p {
    font-size: 17px;
  }

  .info-media .media-icon .media-link {
    font-size: 19px;
    width: 40px;
    height: 40px;
  }

  .input-group .input {
    font-size: 16px;
  }

  .input-group .message {
    font-size: 16px;
  }

  .input-group .text-area {
    font-size: 16px;
  }

  .contact-content h2 {
    font-size: 27px;
  }

  .input-group .label {
    font-size: 16px;
  }

  .info-icon .info-link a,
  .info-icon .info-link a span {
    font-size: 16px;
  }

  .form .contact-form::before {
    top: -13px;
    left: initial;
    right: 20px;
  }
}
